# word embedding by GloVe
/vectors/*.txt

# checkpoint
/saved/CEM_19999_41.8034

# pycache
__pycache__/
# *.pyc

# Comet repo
## the repo of Comet-atomic-2020
/data/ED/Comet
## model files of Comet
/data/Comet/*.json
/data/Comet/*.txt
/data/Comet/*.bin

# results folder
/results/*.txt

# for on colab
/model_based_cem/

# model of MISC
/src/models/MISC

# saved test
/save/test/*.MBPoSS.local
events.out.tfevents.*
save/test/
save/